@using BMA.Models
@model List<BMA.Models.ProductMaterial>

<h3 style="text-align: center">Danh sách nguyên liệu</h3>

<div class="box-body">
    <table id="example2" data-role="product-material" class="table table-bordered customer-table">
        <thead style="font-weight: bold">
            <tr>

                <th style="width: 70%">Nguyên liệu</th>
                <th style="width: 30%">Đơn vị tính</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductMaterial productMaterial in Model)
            {
                if (productMaterial.IsActive)
                {
                    <tr>
                        <td style="width: 70%">
                            <span>@(productMaterial.ProductMaterialName.Length <= 30 ? productMaterial.ProductMaterialName : productMaterial.ProductMaterialName.Substring(0, 26) + "...")</span>
                            <input type="hidden" name="txtProductMaterialId" value="@productMaterial.ProductMaterialId" />
                        </td>
                        <td style="width: 30%">
                            <span>@(productMaterial.ProductMaterialUnit.Length <= 10 ? productMaterial.ProductMaterialUnit : productMaterial.ProductMaterialUnit.Substring(0, 7) + "...")</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
