@{
    ViewBag.Title = "Tạo mới đơn hàng - Thông tin khách hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<section class="content-header">
    <h1>Tạo mới đơn hàng</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Thông tin khách hàng
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row" style="margin-left: 20px;">
                <button class="btn btn-facebook" style="margin-bottom: 10px;" onclick="open_choose_customer()">Chọn khách hàng</button>
                <br />
                <button class="btn btn-facebook" onclick="open_add_customer()">Thêm khách hàng</button>
            </div>

        </div>
        <div class="col-xs-9" id="announce">
            <h3>Vui lòng chọn "Thêm khách hàng" hay "Chọn khách hàng" !</h3>
        </div>
        <div class="col-xs-9" id="choose-customer" style="display: none">
            <div class="box">
                <!--Header-->
                <div class="box-header">
                    <h3>Chọn khách hàng</h3>
                </div>
                <!--Customer table-->
                <div class="box-body" id="customer-table">
                    <!--Customer table load by ajax-->
                </div>
                <!--Button-->
                <div class="box-footer">

                    <button class="btn btn-success pull-right" onclick="fnselect()">
                        <i class=" fa fa-check"></i>Chọn
                    </button>



                </div>
                <script>
                    function fnselect() {
                        var customerId = $(".table tr.selected td:first input").val();
                        if (customerId.length === 0) {
                            var n = noty({
                                text: 'Vui lòng chọn khách hàng !',
                                type: 'warning',
                                dismissQueue: false,
                                layout: 'bottomLeft',
                                theme: 'defaultTheme',
                                timeout: 1000
                            });
                        } else {
                            var form = document.createElement("form");
                            form.setAttribute("method", "post");
                            form.setAttribute("action", "@(Url.Action("CheckoutWithCustomer", "Order"))");

                            var hiddenField = document.createElement("input");
                            hiddenField.setAttribute("type", "hidden");
                            hiddenField.setAttribute("name", "customerId");
                            hiddenField.setAttribute("value", customerId);
                            form.appendChild(hiddenField);
                            form.submit();
                        }
                    }
                </script>

            </div>

        </div>
        <div class="col-xs-9" id="add-customer" style="display: none">
            <!--Header-->
            <div class="box">
                <div class="box-header">
                    <h3>Thêm khách hàng</h3>
                </div>
                <div class="box-body">
                    <form action="@Url.Action("CheckoutWithNewCustomer", "Order")" id="add-customer-form" method="POST">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Tên khách hàng(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="customerName" required maxlength="50" placeholder="Hãy nhập họ tên khách hàng" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Tên đăng nhập(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="username" required maxlength="50" placeholder="Hãy nhập tên đăng nhập" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Email(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="customerEmail" required maxlength="50" placeholder="Hãy nhập email khách hàng" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Địa chỉ(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="customerAddress" maxlength="250" required placeholder="Hãy nhập địa chỉ khách hàng" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Số điện thoại(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="customerPhoneNumber" required placeholder="Hãy nhập số điện thoại khách hàng" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-xs-3">
                                <label>Mã số thuế(*): </label>
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="col-xs-9" name="customerTaxCode" required placeholder="Hãy nhập mã số thuế khách hàng" />
                            </div>
                            <div class="col-xs-3"></div>
                        </div>

                    </form>
                </div>

                <div class="box-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-clear" onclick="clear_form()">
                                Xóa
                                <script type="text/javascript">
                                    function clear_form() {
                                        $("#add-customer-form")[0].reset();
                                    }

                                </script>
                            </button>

                            <button class="btn btn-success pull-right" onclick="submit_customer_form()">
                                Đồng ý
                                <script type="text/javascript">
                                    function submit_customer_form() {
                                        $("#add-customer-form").submit();
                                    }
                                </script>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <script>
            function open_choose_customer() {
                $.ajax({
                    url: "@(Url.Action("GetCustomerPartialView", "Customer"))",
                    method: "GET",
                    success: function (data) {
                        $('#customer-table').html(data);
                    },
                    fail: function (e) {
                        alert("Have error" + e.toString());
                    }
                });
                $('#announce').hide();
                $('#choose-customer').show();
                $('#add-customer').hide();
            }

            function open_add_customer() {
                $('#announce').hide();
                $('#choose-customer').hide();
                $('#add-customer').show();
            }
        </script>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-xs-12">

            <a class="btn btn-primary" href="/Order/Add">
                <i class=" fa fa-backward" style="margin-right: 3px;"></i>Quay lại
            </a>

            <a class="btn btn-danger pull-right" href="/Order/CancelAddOrder">
                <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy
            </a>
        </div>
    </div>
</section>
