@using System.Globalization
@using BMA.Models.ViewModel

@{
    ViewBag.Title = "Thông tin đơn hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<section class="content-header">
    <h1>Thông tin đơn hàng</h1>
</section>
<div class="content">
    <!--Title row-->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Danh sách sản phẩm
            </h2>
        </div>
    </div>
    <!--Table row-->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th style="text-align: right">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderItem in (HttpContext.Current.Session["Cart"] as List<CartViewModel>))
                    {
                        <tr>
                            <td>@orderItem.ProductName</td>
                            <td>@orderItem.RealPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td>@orderItem.Quantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td style="text-align: right">@((orderItem.RealPrice * orderItem.Quantity).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

