
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

    <!-- Content Header (Page header)-->
    <section class="content-header">
        <h1>Thông tin đơn hàng</h1>
    </section>
    <!-- Main content -->
    <section class="invoice">
        
    </section>

