
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Chi tiết đơn hàng</h1>
</section>
<section class="invoice">
    <!--Title row-->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                
            </h2>
        </div>
    </div>
</section>
