@using System.Globalization
@using BMA.Models
@model List<BMA.Models.Product>
<div class="row" style="margin: 0 10px">
    <div class="col-md-12">

        <h3>Danh sách sản phẩm</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="example2" class="table table-bordered multiple-choice-table">
            <thead style="font-weight: bold">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model)
                {
                    <tr>
                        <td>
                            <span>@product.ProductName</span>
                            <input type="hidden" name="productId" value="@(product.ProductId)" />
                        </td>
                        <td style="text-align: right">
                            <span>@product.ProductStandardPrice.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success pull-right" onclick="fnselect()">
            <i class="fa fa-check" style="margin-right: 3px"></i>Chọn
        </button>
    </div>
</div>
