@using BMA.Models
@model List<BMA.Models.ProductMaterial>
<div class="row" style="margin: 0px 10px">
    <div class="col-xs-12">
        <div class="row">
            <h3>Danh sách nguyên liệu</h3>
        </div>
        <div class="row">
            <table id="example2" class="table table-bordered multiple-choice-table">
                <thead>
                    <tr>
                        <th>Tên nguyên liệu</th>
                        <th>Đơn vị</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="cursor:default">
                            <td>
                                <span>@item.ProductMaterialName</span>
                                <input type="hidden" name="materialId" value="@(item.ProductMaterialId)" />
                            </td>
                            <td>
                                <span>@item.ProductMaterialUnit</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <button class="btn btn-success pull-right" onclick="fnselect()">
                <i class="fa fa-check" style="margin-right: 3px"></i>Chọn
            </button>
        </div>
    </div>

</div>