@using System.Globalization
@using BMA.Common
@using BMA.Models
@model List<Supplier>

@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1 style="text-align: center; margin-top: 2%">Thêm nhà cung cấp</h1>
</section>
<section>
    <div style="margin-top: 5%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <form id="add-supplier-form">
                        <div class="box-body box-profile">
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Nhà cung cấp<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" name="txtSupplierName" id="txtSupplierName" maxlength="50" style="width: 95%" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px">
                                <div class="col-xs-5">
                                    <b>Địa chỉ<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <textarea name="txtSupplierAddress" id="txtSupplierAddress" maxlength="200"  rows="3" style="width: 95%; resize: none"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Số điện thoại<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="txtSupplierPhoneNumber" id="txtSupplierPhoneNumber" style="width: 95%" oninput="maxLengthCheck(this)" maxlength="11" min="1000000" max="99999999999" placeholder="nhập số từ 7-11 chữ số" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>E-mail<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="email" name="txtSupplierEmail" id="txtSupplierEmail" style="width: 95%" placeholder="Email có dạng abc@xyz.mn..." />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Mã số thuế<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="txtSupplierTaxCode" id="txtSupplierTaxCode" style="width: 95%" oninput="maxLengthCheck(this)" maxlength="13" min="1000000000" max="9999999999999" placeholder="nhập số từ 10-13 chữ số" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-12">
                                    <b><b style="color: #ff0000">*</b>: Thông tin bắt buộc</b>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="box box-footer">

                        <!-- "Thêm mới" button -->
                        <button class="btn btn-primary pull-right" style="margin-right: 2%; margin-bottom: 2%" onclick="addSupplier()">
                            <i class="fa fa-edit" style="margin-right: 3px;"></i>Thêm mới
                            <script type="text/javascript">
                                function addSupplier() {
                                    var supplierName = $("#txtSupplierName").val();
                                    var supplierAddress = $("#txtSupplierAddress").val();
                                    var supplierEmail = $("#txtSupplierEmail").val();
                                    var supplierPhoneNumber = $("#txtSupplierPhoneNumber").val();
                                    var supplierTaxCode = $("#txtSupplierTaxCode").val();

                                    if (supplierName.trim() === '') {
                                        noty({
                                            text: 'Tên nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (supplierAddress.trim() === '') {
                                        noty({
                                            text: 'Địa chỉ nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (supplierPhoneNumber.trim() === '') {
                                        noty({
                                            text: 'Số điện thoại nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (isNaN(supplierPhoneNumber)) {
                                        noty({
                                            text: 'Số điện thoại nhà cung cấp không đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (!new RegExp(/^\d{10,11}$/).test(supplierPhoneNumber)) {
                                        noty({
                                            text: 'Hãy nhập số điện thoại đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                        $("#txtSupplierPhoneNumber").focus();
                                    } else if (!new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i).test(supplierEmail)) {
                                        noty({
                                            text: 'Hãy nhập email đúng định dạng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                        $("#txtSupplierEmail").focus();
                                    } else if (supplierEmail.trim() === '') {
                                        noty({
                                            text: 'Email nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (!new RegExp(/^\d{10,13}$/).test(supplierTaxCode)) {
                                        noty({
                                            text: 'Hãy nhập mã số thuế đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                        $("#txtSupplierTaxCode").focus();
                                    } else if (isNaN(supplierTaxCode)) {
                                        noty({
                                            text: 'Mã số thuế nhà cung cấp không đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (supplierTaxCode.trim() === '') {
                                        noty({
                                            text: 'Mã số thuế nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else {
                                        $.ajax({
                                            url: "@(Url.Action("CheckSupplierInfo", "Supplier"))",
                                            method: "POST",
                                            data: $("#add-supplier-form").serialize(),
                                            success: function (data) {
                                                if (data === '1') {
                                                    noty({
                                                        text: 'Tên nhà cung cấp này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                    $("#txtSupplierName").focus();
                                                } else if (data === '2') {
                                                    noty({
                                                        text: 'Địa chỉ này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                    $("#txtSupplierAddress").focus();
                                                } else if (data === '3') {
                                                    noty({
                                                        text: 'Số điện thoại này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                    $("#txtSupplierPhoneNumber").focus();
                                                } else if (data === '4') {
                                                    noty({
                                                        text: 'Địa chỉ E-mail này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                    $("#txtSupplierEmail").focus();
                                                } else if (data === '5') {
                                                    noty({
                                                        text: 'Mã số thuế này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                    $("#txtSupplierTaxCode").focus();
                                                } else if (data === '-7') {
                                                    noty({
                                                        text: 'Bạn không có quyền thực hiện chức năng này.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                   } else if (data === '0') {
                                                    $.ajax({
                                                        url: "@(Url.Action("AddSupplier", "Supplier"))",
                                                        method: "POST",
                                                        data: $("#add-supplier-form").serialize(),
                                                        success: function (data) {
                                                            if (data === "1") {
                                                                noty({
                                                                    text: 'Thêm nhà cung cấp thành công',
                                                                    type: 'success',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 1000
                                                                });
                                                                window.setTimeout(function () {
                                                                    window.location.replace("@(Url.Action("SupplierIndex", "Supplier"))");
                                                                }, 4000);
                                                            } else {
                                                                noty({
                                                                    text: 'Không thể thêm nhà cung cấp',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 1000
                                                                });
                                                            }
                                                        },
                                                        fail: function () {
                                                            noty({
                                                                text: 'Đã có lỗi xảy ra',
                                                                type: 'error',
                                                                dismissQueue: false,
                                                                layout: 'topCenter',
                                                                theme: 'defaultTheme',
                                                                timeout: 1000
                                                            });
                                                        }
                                                    });
                                                }
                                            },
                                            fail: function () {
                                                noty({
                                                    text: 'Đã có lỗi xảy ra.',
                                                    type: 'danger',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            }
                                        });
                                    }
                                }

                            </script>
                        </button>
                        <!-- "Hủy" button -->
                        <button class="btn btn-success" style="margin-left: 2%; margin-bottom: 2%" onclick="cancelAddSupplier()">
                            <i class="fa fa-arrow-left" style="margin-right: 3px;"></i>Quay lại trang danh sách
                            <script type="text/javascript">
                                function cancelAddSupplier() {
                                    window.location.replace("@(Url.Action("SupplierIndex", "Supplier"))");
                                }
                            </script>
                        </button>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
            </div>
        </div>

    </div>
    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength);
        }
    </script>
</section>