
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb4x mrgt6x clearfix">
            <h4 class="page-name">LIỆN HỆ VỚI CHÚNG TÔI</h4>
            <div class="tag-bar"> <a href="#"><span>just get in touch</span></a> </div>
            <ul class="breadcrumb">
                <li><a href="#">Pages</a></li>
                <li class="active"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact-us animated out" data-delay="0" data-animation="fadeInUp">
                    <div class="post-form row">
                        <form id="review-form" method="post" name="postreview">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>TÊN</label>
                                    <input class="form-control" placeholder="enter a name">
                                </div>
                                <div class="form-group">
                                    <label>EMAIL</label>
                                    <input class="form-control" placeholder="enter a email">
                                </div>
                                <div class="form-group">
                                    <label>SUBJECT</label>
                                    <input class="form-control" placeholder="enter a subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>NỘI DUNG</label>
                                    <textarea class="form-control" placeholder="type in a message" rows="11"></textarea>
                                </div>
                                <div style="margin-bottom:30px;" class="send-msg"> <a href="#" class="post-msg">SEND MESSAGE<i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="contact-info-rightbar animated out" data-delay="0" data-animation="fadeInUp">
                    <div class="rightbar-heading">
                        <h4>THÔNG TIN LIÊN LẠC</h4>
                    </div>
                    <ul class="contact-address clearfix">
                        <li class="map-marker"> <a href="#"><i class="icon-location10"></i><span>147 Sixth Avenue San Francisco, CA</span></a></li>
                        <li class="globe"> <a href="#"><i class="icon-earth"></i><span>http://www.qvrenti-real-estate.com</span></a></li>
                        <li class="phone"> <a href="#"><i class="fa fa-phone"></i><span>+49 123 456 798</span></a></li>
                        <li class="mail-envel"> <a href="#"><i class="icon-email4"></i><span>qvrenti-support@email.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

