@{
    ViewBag.Title = "Index";
}
<div align="center">
    <h2>Index</h2>

    <p>Test Pop-up </p>

    <button id="modal-opener"  style="background-color: #00bfff; height: 50px; width: 100px; font-family: UVN Van; border:0">Open Dialog</button>

    <div id="dialog-modal" title="Basic modal dialog">
        <div align="center"><h2>Đăng nhập</h2></div>
        <div><a style="margin-left: 20px">Tên đăng nhập: </a><input type="text" name="username" style="width: 150px; height: 20px;margin-left: 60px"></div>
        <div><a style="margin-left: 20px">Mật khẩu: </a><input type="text" name="password" style="width: 150px; height: 20px; margin-left: 100px; "></div><br><br>
    <div align="center"><button style="width: 80px; height: 20px; margin-left: 20px">Cancel</button>
                        <button style="width: 80px;height: 20px; margin-right: 20px">Login</button></div>
    </div>
</div>