
@{
    ViewBag.Title = "Xảy ra lỗi";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">

</section>

<center><a href="/Home/Index"><img style="width:400px;height:250px;margin-top:200px;margin-bottom:50px;" src="~/Content/Images/Error.jpg" /></a></center>

