@{
    ViewBag.Title = "Xảy ra lỗi";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="border-top">
    <div align="center"><h3>Đã có lỗi xảy ra</h3></div>
    <div align="center" style="margin-top: 5%"><img src="~/content/images/errorimages/error.png" /></div>
    <div style="margin-left: 5%">
        <a class="btn btn-danger" href="@(Url.Action("Index","Manage"))">
            <i class="fa fa-backward" style="margin-left: 3px; margin-right: 3px"></i>Quay lại trang quản lí
            
        </a>
    </div>
</section>