@{
    ViewBag.Title = "Xảy ra lỗi";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content">
    <div class="error-page">
        <div class="error-content">
            
                <img src="~/Content/Images/ErrorIcon.png" style="height: 100px; width: 100px" />
                <h3>
                    Đã có lỗi xảy ra.<br>
                    Vui lòng thử lại sau!
                </h3>
            
        </div>
    </div><!-- /.error-page -->
</section>