@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top-slider"></section>

<div id="mainslider">
    <div class="slider">
        <div class="fullscreen-container">
            <div class="fullscreenbanner">
                <ul>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="160"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                        </div>
                    </li>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="center"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                        </div>
                    </li>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="center"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">                          
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




