@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Bảng kê đầu ra 01-1-GTGT</title>
    <style>
        @@page {
            size: auto;
            margin: 0;
        }

        table#content, #content th, #content td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>

</head>
<body onload="window.print();">
    <div class="content">
        <div class="details">
            <div>
                &nbsp;
            </div>
            <div>
                <p align="center" style="font-size: 14pt; font-weight: bold">
                    PHỤ LỤC
                </p>
                <p style="font-size: 14pt; font-weight: bold; text-align: center; margin-bottom: 0">
                    BẢNG KÊ HOÁ ĐƠN, CHỨNG TỪ HÀNG HOÁ, DỊCH VỤ BÁN RA
                </p>
                <p align="center" style="font-size: 12pt; font-style: italic; margin: 0">
                    (Kèm theo tờ khai thuế GTGT mẫu số 01/GTGT)
                </p>
                <p align="center" style="font-size: 13pt;margin: 0">
                    <strong>[01]</strong>&nbsp;Kỳ tính thuế: tháng.......năm ...... hoặc quý.....năm....
                </p>
                <p style="font-size: 13pt; margin-left: 220px; margin-bottom: 0">
                    <strong>[02] Tên người nộp thuế</strong>:........................................................................................
                </p>
                <table style="height: 29px; padding: 0;margin-left: 220px">
                    <tbody>
                        <tr>
                            <td style="width: 160px; height: 29px; margin: 0; padding: 0">
                                <p style="font-size: 13pt;margin: 0">
                                    <strong>[03]</strong>&nbsp;Mã số thuế:
                                </p>
                            </td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>

                        </tr>
                    </tbody>
                </table>
                <p style="font-size: 13pt; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    <strong>[04] Tên đại lý thuế (nếu có)</strong>:……………………………………...........................
                </p>
                <table style="height: 29px; padding: 0; border-collapse: collapse;margin-left: 220px">
                    <tbody>
                        <tr>
                            <td style="width: 160px; height: 29px; margin: 0; padding: 0">
                                <p style="font-size: 13pt;margin: 0">
                                    <strong>[05]</strong>&nbsp;Mã số thuế:
                                </p>
                            </td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>
                            <td style="width: 29px; height: 29px; margin: 0; padding: 0; border: 1px solid black;"></td>

                        </tr>
                    </tbody>
                </table>
                <p style="font-size: 13pt; font-style: italic; margin-left: 590px;margin-bottom: 0">
                    Đơn vị tiền: đồng Việt Nam
                </p>
                <table align="center" id="content" style="margin-left: 220px;border-collapse: collapse;">
                    <tbody>
                        <tr style="font-size: 12pt; font-weight: bold">
                            <td rowspan="2" style="width: 1.44cm;">
                                <p style="text-align: center;">
                                    STT
                                </p>
                            </td>
                            <td colspan="4" style="width: 5.74cm;">
                                <p style="text-align: center;">
                                    Hoá đơn, chứng từ bán ra
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.66cm;">
                                <p style="text-align: center;">
                                    <strong>Tên người mua</strong>
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.59cm;">
                                <p style="text-align: center;">
                                    <strong>Mã số thuế người mua</strong>
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.45cm;">
                                <p style="text-align: center;">
                                    <strong>Mặt hàng</strong>
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.61cm;">
                                <p style="text-align: center;">
                                    <strong>Doanh số bán chưa có thuế GTGT</strong>
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.61cm;">
                                <p style="text-align: center;">
                                    <strong>Thuế GTGT</strong>
                                </p>
                            </td>
                            <td rowspan="2" style="width: 1.42cm;">
                                <p style="text-align: center;">
                                    <strong>Ghi chú</strong>
                                </p>
                            </td>
                        </tr>
                        <tr style="font-size: 12pt">
                            <td style="width: 1.29cm;">
                                <p style="text-align: center;">
                                    <strong>Ký hiệu mẫu hoá đơn</strong>
                                </p>
                            </td>
                            <td style="width:1.27cm;">
                                <p style="text-align: center;">
                                    <strong>Ký hiệu hóa đơn</strong>
                                </p>
                            </td>
                            <td style="width: 1.27cm;">
                                <p style="text-align: center;">
                                    <strong>Số hoá đơn</strong>
                                </p>
                            </td>
                            <td style="width: 1.91cm;">
                                <p style="text-align: center;">
                                    <strong>Ngày, tháng, năm phát hành</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p align="center">
                                    (1)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (2)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (3)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (4)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (5)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (6)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (7)
                                </p>
                            </td>
                            <td>
                                <p align="center">
                                    (8)
                                </p>
                            </td>
                            <td style="width: 61px;">
                                <p align="center">
                                    (9)
                                </p>
                            </td>
                            <td style="width: 61px;">
                                <p align="center">
                                    (10)
                                </p>
                            </td>
                            <td style="width: 54px;">
                                <p align="center">
                                    (11)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" style="font-size: 13pt; font-style: italic;height: 0.53cm">
                                <p style=" margin:0">
                                    1. Hàng hóa, dịch vụ không chịu thuế giá trị gia tăng (GTGT):
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 0.74cm">
                            <td style="width: 54px;"></td>
                            <td style="width: 49px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 63px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.74cm; font-size: 13pt">
                            <td colspan="8" style="width: 449px;">
                                <p style="margin: 0">
                                    Tổng
                                </p>
                            </td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr>
                            <td colspan="11" style="font-size: 13pt; font-style: italic; height: 0.53cm">
                                <p style="margin: 0">
                                    2. Hàng hóa, dịch vụ chịu thuế suất thuế GTGT 0% (*):
                                </p>
                            </td>
                        </tr>
                        <tr style="height: 0.74cm">
                            <td style="width: 54px;"></td>
                            <td style="width: 49px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 63px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.74cm; font-size: 13pt">
                            <td colspan="8" style="width: 449px;">
                                <p style="margin: 0">
                                    Tổng
                                </p>
                            </td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.53cm">
                            <td colspan="11" style="font-size: 13pt; font-style: italic">
                                3. Hàng hóa, dịch vụ chịu thuế suất thuế GTGT 5%:
                            </td>
                        </tr>
                        <tr style="height: 0.74cm">
                            <td style="width: 54px;"></td>
                            <td style="width: 49px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 63px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.74cm; font-size: 13pt">
                            <td colspan="8" style="width: 449px;">
                                <p style="margin: 0">
                                    Tổng
                                </p>
                            </td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr>
                            <td colspan="11" style="font-size: 13pt; font-style: italic;height: 0.53cm">
                                4. Hàng hóa, dịch vụ chịu thuế suất thuế GTGT 10%:
                            </td>
                        </tr>
                        <tr style="height: 0.74cm">
                            <td style="width: 54px;"></td>
                            <td style="width: 49px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 63px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.74cm; font-size: 13pt">
                            <td colspan="8" style="width: 449px;">
                                <p style="margin: 0">
                                    Tổng
                                </p>
                            </td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr>
                            <td colspan="11" style="font-size: 13pt; font-style: italic;height: 0.53cm">
                                5. Hàng hóa, dịch vụ không phải tổng hợp trên tờ khai 01/GTGT:
                            </td>
                        </tr>
                        <tr style="height: 0.74cm">
                            <td style="width: 54px;"></td>
                            <td style="width: 49px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 48px;"></td>
                            <td style="width: 72px;"></td>
                            <td style="width: 63px;"></td>
                            <td style="width: 60px;"></td>
                            <td style="width: 55px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                        <tr style="height: 0.74cm; font-size: 13pt">
                            <td colspan="8" style="width: 449px;">
                                <p style="margin: 0">
                                    Tổng
                                </p>
                            </td>
                            <td style="width: 61px;"></td>
                            <td style="width: 61px;"></td>
                            <td style="width: 54px;"></td>
                        </tr>
                    </tbody>
                </table>
                <p style="font-size: 13pt; margin-left: 220px; margin-bottom: 0">
                    Tổng doanh thu hàng hóa, dịch vụ bán ra (**):<span style="margin-left: 200px">…………………</span>
                </p>
                <p style="font-size: 13pt; margin-left: 220px; margin-bottom: 0;margin-top: 0">
                    Tổng doanh thu hàng hoá, dịch vụ bán ra chịu thuế GTGT (***):<span style="margin-left: 72px">…………………</span>
                </p>
                <p style="font-size: 13pt; margin-left: 220px; margin-bottom: 0;margin-top: 0">
                    Tổng thuế GTGT của hàng hóa, dịch vụ bán ra (****):<span style="margin-left: 142px">…………………</span>
                </p>
                <p style="font-size: 13pt; margin-left: 270px; margin-top: 10px; margin-bottom: 0">
                    Tôi cam đoan số liệu khai trên là đúng và chịu trách nhiệm trước pháp luật về những số
                </p>
                <p style="font-size: 13pt; margin-left: 220px; margin-bottom: 0; margin-top: 0">
                    liệu đã khai./.
                </p>
                <table style="margin-left: 220px; width: 648px;border: 0">
                    <tbody>
                        <tr>
                            <td style="width: 222px; height: 89px;font-size: 12pt;">
                                <p align="center" style="text-align: center; font-weight: bold; margin-bottom: 0; margin-top: 25px">
                                    NHÂN VIÊN ĐẠI LÝ THUẾ
                                </p>
                                <p style="margin: 0">
                                    Họ và tên:.......
                                </p>
                                <p style="margin: 0">
                                    Chứng chỉ hành nghề số:.......
                                </p>
                            </td>
                            <td style="width: 426px; height: 89px;">
                                <table border="0" cellpadding="0" cellspacing="0" style="width: 411px;" width="411">
                                    <tbody>
                                        <tr>
                                            <td style="width: 411px; height: 17px; font-size: 13pt; font-style: italic; ">
                                                <p align="center" style="margin-bottom: 5px">
                                                    ..., ngày ….... tháng ….... năm …....
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 411px; height: 42px; font-size: 12pt; font-weight: bold">
                                                <p align="center" style="margin: 0">
                                                    <strong>NGƯỜI NỘP THUẾ hoặc</strong>
                                                </p>
                                                <p align="center" style="margin-top: 0; margin-bottom: 5px">
                                                    <strong>ĐẠI DIỆN HỢP PHÁP CỦA NGƯỜI NỘP THUẾ</strong>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 411px; height: 28px; font-size: 12pt; font-style: italic">
                                                <p align="center" style="margin: 0">
                                                    (Ký, ghi rõ họ tên; chức vụ và đóng dấu (nếu có))
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="font-size: 12pt; margin-left: 220px; margin-top: 50px;">
                    __________________________
                </p>
                <p style="font-size: 11pt; font-weight: bold; font-style: italic; text-decoration: underline; margin-left: 220px;margin-top: 0; margin-bottom: 0">
                    Ghi chú:
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    (*) Trường hợp phát sinh hàng hóa, dịch vụ chịu thuế suất thuế GTGT 0% thì lập gửi kèm theo Bảng kê hàng hóa,
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    dich vụ được áp dụng thuế suất thuế GTGT 0%- mẫu số 01-3/GTGT
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    (**) Tổng doanh thu hàng hóa, dịch vụ bán ra là tổng cộng số liệu tại cột 8 của dòng tổng của các chỉ tiêu 1, 2, 3, 4.
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    (***) Tổng doanh thu hàng hóa, dịch vụ bán ra chịu thuế GTGT là tổng cộng số liệu tại cột 9 của dòng tổng của các
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    chỉ tiêu 2, 3, 4.
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    (****) Tổng số thuế GTGT của hàng hóa, dịch vụ bán ra là tổng cộng số liệu tại cột 10 của dòng tổng của các chỉ
                </p>
                <p style="font-size: 11pt; font-style: italic; margin-left: 220px; margin-top: 0; margin-bottom: 0">
                    tiêu 2, 3, 4.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
