.selected {
    background-color: #337ab7;
    color: white;
}
.btn-cancel {
  color: #777;
  background-color: #fff;
  border-color: #ccc;
}
.btn-cancel:focus,
.btn-cancel.focus {
  color: #777;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-cancel:hover {
  color: #777;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-cancel:active,
.btn-cancel.active,
.open > .dropdown-toggle.btn-cancel {
  color: #777;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-cancel:active:hover,
.btn-cancel.active:hover,
.open > .dropdown-toggle.btn-cancel:hover,
.btn-cancel:active:focus,
.btn-cancel.active:focus,
.open > .dropdown-toggle.btn-cancel:focus,
.btn-cancel:active.focus,
.btn-cancel.active.focus,
.open > .dropdown-toggle.btn-cancel.focus {
  color: #777;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-cancel:active,
.btn-cancel.active,
.open > .dropdown-toggle.btn-cancel {
  background-image: none;
}
.btn-cancel.disabled,
.btn-cancel[disabled],
fieldset[disabled] .btn-cancel,
.btn-cancel.disabled:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel.disabled.focus,
.btn-cancel[disabled].focus,
fieldset[disabled] .btn-cancel.focus,
.btn-cancel.disabled:active,
.btn-cancel[disabled]:active,
fieldset[disabled] .btn-cancel:active,
.btn-cancel.disabled.active,
.btn-cancel[disabled].active,
fieldset[disabled] .btn-cancel.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-cancel .badge {
  color: #fff;
  background-color: #777;
}
.unborder {
    border: 0;
}

#loading-indicator {
  position: absolute;
  left: 630px;
  top: 280px;
  width:60px;
  height:60px;
  z-index:9999999;
}


#loading-background{
    position:absolute;
    width: 1136px;
    height:603px;
    opacity:0.3;
    color:black;
    background-color:black;
    z-index:9999999999999;
}