@using System.Globalization
@using BMA.Models
@model List<BMA.Models.sp_GetTop10CustomerRevenueWeekly_Result>
<!--Chart-->
<div class="row">
    <div class="col-md-12">
        <!--Line Chart-->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Biểu đồ thống kê 10 khách hàng doanh thu cao nhất
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    List<string> customerName = new List<string>();
    List<string> fullName = new List<string>();
    List<String> timeList = new List<string>();
    foreach (sp_GetTop10CustomerRevenueWeekly_Result spGetTop10CustomerRevenueWeeklyResult in Model)
    {
        if (customerName.Count == 0)
        {
            customerName.Add(spGetTop10CustomerRevenueWeeklyResult.Username);
            fullName.Add(spGetTop10CustomerRevenueWeeklyResult.Fullname);
            timeList.Add((spGetTop10CustomerRevenueWeeklyResult.StartDate.Value.ToString("dd/MM/yyyy") + " - " + spGetTop10CustomerRevenueWeeklyResult.EndDate.Value.ToString("dd/MM/yyyy")));
        }
        else
        {
            bool nameCheck = true;
            foreach (string s in customerName)
            {
                if (s.Equals(spGetTop10CustomerRevenueWeeklyResult.Username))
                {
                    nameCheck = false;
                }

            }
            if (nameCheck)
            {
                customerName.Add(spGetTop10CustomerRevenueWeeklyResult.Username);
                fullName.Add(spGetTop10CustomerRevenueWeeklyResult.Fullname);
            }

            bool timeCheck = true;
            foreach (string s in timeList)
            {
                string temp = (spGetTop10CustomerRevenueWeeklyResult.StartDate.Value.ToString("dd/MM/yyyy") + " - " + spGetTop10CustomerRevenueWeeklyResult.EndDate.Value.ToString("dd/MM/yyyy"));
                if (s.Equals(temp))
                {
                    timeCheck = false;
                }
            }
            if (timeCheck)
            {
                timeList.Add((spGetTop10CustomerRevenueWeeklyResult.StartDate.Value.ToString("dd/MM/yyyy") + " - " + spGetTop10CustomerRevenueWeeklyResult.EndDate.Value.ToString("dd/MM/yyyy")));
            }
        }
    }


}
<!--Table-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table" id="revenue-table">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Khách hàng</th>
                            @foreach (string time in timeList)
                            {
                                <th style="text-align: center">@time</th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < customerName.Count; i++)
                        {
                            <tr>
                                <td>@(customerName.ElementAt(i))</td>
                                <td>@(fullName.ElementAt(i))</td>
                                @foreach (string time in timeList)
                                {
                                    foreach (sp_GetTop10CustomerRevenueWeekly_Result revenueWeekly in Model)
                                    {
                                        if (revenueWeekly.Username.Equals(customerName.ElementAt(i)) && revenueWeekly.StartDate.Value.ToString("dd/MM/yyyy").Equals(time.Substring(0, 10)))
                                        {
                                            <td style="text-align: right">@revenueWeekly.Revenue.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        }
                                    }
                                }
                                @{ int id = 0;}
                                @while (id == 0)
                                {
                                    foreach (sp_GetTop10CustomerRevenueWeekly_Result result in Model)
                                    {
                                        if (result.Username.Equals(customerName.ElementAt(i)))
                                        {
                                            id = result.CustomerUserId.Value;
                                        }
                                    }
                                }
                                <td>
                                    <button onclick="openDetailInNewTab()" class="btn btn-info btn-xs">
                                        <i class="fa fa-info" style="margin-right: 3px"></i>Chi tiết
                                        <script type="text/javascript">
                                            function openDetailInNewTab() {
                                                alert(@id);
                                            }
                                        </script>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>