/* User Login Form */
@import url('style.css');
#form-login {
    display: none;
}

    .user_login label {
        display: block;
        margin-bottom: 5px;
    }

    .user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px solid #DDD;
        color: #666;
    }

    .user_login input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }

        .user_login input[type="checkbox"] + label {
            float: left;
        }


    .user_login .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
