@using Microsoft.AspNet.Identity
<div class="user_login" id="container-login">

    @if (Request.IsAuthenticated)
    {
        Html.RenderPartial("LoginSuccessPartial");
    }
    else
    {
        Html.RenderPartial("FormLoginPartial");
    }
</div>