@model PopupDemo.Models.LoginViewModel
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + (string.IsNullOrWhiteSpace(User.Identity.Name) ? Model.Email : User.Identity.Name) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
}