@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top"></section>
<center><h3 style="margin-top: 50px; margin-bottom: -30px; font-weight: bolder; color: #09b9e5">THÔNG TIN ĐƠN HÀNG</h3></center>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">Sản phẩm</th>
            <th class="text-left">Đơn giá</th>
            <th class="text-left">Số lượng</th>
            <th class="text-left">Thành tiền</th>
            <th class="text-left">Action</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td class="text-left">Bánh beo hột dzịt múi</td>
                <td class="text-left">150.000</td>
                <td class="text-left1"><input type="text" value="10" /></td>
                <td class="text-left">1.500.000</td>
                <td class="cancel-order"><a href="#">Hủy</a></td>
            </tr>
        }
    </tbody>
</table>
<table class="table-fill-2">
    <tbody class="table-hover">
        <tr>
            <td class="sum-td">Tổng cộng </td>
            <td style="font-weight: bolder; " class="text-left">150.000</td>
        </tr>
        <tr>
            <td class="sum-td">Thuế VAT(10%)</td>
            <td style="font-weight: bolder;" class="text-left">150.000</td>
        </tr>
        <tr>
            <td style="border-bottom:none;" class="sum-td">Thành tiền</td>
            <td style="min-width:107px;font-weight:bolder;" class="text-left">150.000</td>
        </tr>
    </tbody>
</table>

<div style="margin-top:-85px;" class="row">
    <ul class="filter-list clearfix">
        <li>
            <div class="property-box animated out" data-delay="0" data-animation="fadeInUp">
                <div class="property-text2">
                    <div style="margin-left: 60px; margin-top: 81px; float: right; margin-right: 170px;" class="detail-btn mrgt3x"><a href="@Url.Action("Index", "Cart"@*, new { @REID = 1}*@)" class="sale">Đặt hàng</a></div>
                </div>
                <div class="property-text2">
                    <div style="margin-top:21px; float:right;margin-right:-10px;" class="detail-btn mrgt3x"><a href="@Url.Action("Index", "Cart"@*, new { @REID = 1}*@)" class="sale">Tiếp tục mua sắm</a></div>
                </div>
                <div class="property-text2">
                    <div style="background-color:#ff0000;margin-top:-40px; float:right;margin-right:563px;" class="detail-btn mrgt3x"> <a href="@Url.Action("Index", "Cart"@*, new { @REID = 1}*@)" class="sale">Hủy đơn hàng</a> </div>
                </div>
            </div>
        </li>
    </ul>
</div>