
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb4x mrgt6x clearfix">
            <h4 class="page-name">LIỆN HỆ VỚI CHÚNG TÔI</h4>
            <div class="tag-bar"> <a href="#"><span>just get in touch</span></a> </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="contact-us animated out" data-delay="0" data-animation="fadeInUp">
                    <div class="post-form row">
                        <form id="review-form" method="post" name="postreview">
                            <div style="margin-bottom:60px;" class="col-md-6">
                                <div class="contact-info-rightbar animated out" data-delay="0" data-animation="fadeInUp">
                                    <div class="rightbar-heading">
                                        <h4>THÔNG TIN LIÊN LẠC</h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Cửa hàng : MGV BAKERY</label>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ : 1052 Quang Trung, Phường 3, Quận Gò vấp</label>
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại : 01239123707</label>
                                </div>
                                <div class="form-group">
                                    <label>Email : ManhOTSE61045@fpt.edu.vn</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

