
@{
    ViewBag.Title = "Quy trình đặt hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb3x mrgt6x clearfix">
            <h4 class="page-name">Hướng dẫn đặt hàng</h4>
            <div class="tag-bar"><a href="#"><span>Nhanh nhất - tiện lợi nhất</span></a> </div>
        </div>
    </div>

</section>
<div class="container">
    <div class="row">
            <div class="col-md-9 blog-rightbar">
                <div style="width:133%;" class="blog-section mrgb9x clearfix animated out" data-delay="0" data-animation="fadeInUp">
                    <img style="" src="@Url.Content("~/Content/CustomerLayout/assets/Images/slider2.jpg")" class="img-responsive" alt="#" />
                </div>
            </div>
    </div>
</div>

