@{
    ViewBag.Title = "Bánh mặn";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div style="margin-bottom:5px;" class="page-title mrgb5x mrgt6x clearfix">
            <h4 class="page-name">TÌM KIẾM</h4>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="property-filter clearfix">
            <div class="filter-type mrgb6x clearfix">
                <div style="margin-left:-45px;width:108%" class="row">
                    <ul class="filter-form col-md-6 col-sm-5">
                        <li>
                            <div class="select-box col-md-6">
                                <select class="form-control" name="dropdown">
                                    <option value="location">Tên sản phẩm</option>
                                    <option value="type">Nguyên liệu</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-section col-md-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </li>
                    </ul>
                    <ul style="margin-top:1px;" class="filter-values col-md-3 col-sm-3">
                        <li>
                            <div style="width:100%" class="filter-btn col-md-4"> <a href="#" class="filter-property">TÌM KIẾM</a> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <ul class="filter-list clearfix">
                    @for (int i = 0; i < 8; i++)
                    {
                        <li class="mix sale col-md-3 col-sm-4 mrgb5x" data-price="5">
                            <div class="property-box animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="appartment-img">
                                    <img src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" class="img-responsive" alt="#" />
                                    <div class="detail-btn"> <a href="@Url.Action("ProductDetail", "Product", new { @REID = 1})" class="sale">Chi tiết</a> </div>
                                </div>
                                <div class="property-text">
                                    <div style="margin-bottom:-20px;" class="appartment-name">
                                        <h4>Giò cháo quẩy</h4><br />
                                    </div>
                                    <div class="property-price">
                                        <h3><sup>$</sup><span>50.000</span></h3>
                                    </div>
                                    <div style="margin-left:60px;" class="detail-btn mrgt3x"> <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" class="sale">Mua hàng</a> </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="numbering">
                    <ul class="pagination">
                        <li class="active"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                        <li><a href="#">04</a></li>
                        <li><a href="#">05</a></li>
                    </ul>
                </div>
                <div id="light" class="white_content">
                    <center><h2 style="color:#808080">Giò cháo quẩy</h2></center>
                    <div class="border-top"></div>
                    <br />
                    <table class="popup-table">
                        <tr>
                            <td>Số lượng: </td>
                            <td><input type="text" value="" placeholder="10" /></td>
                        </tr>
                        <tr>
                            <td>Thành tiền: </td>
                            <td>150.000 Đồng</td>
                        </tr>
                    </table>
                    <div class="popup-btn"> <a href="#" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'" class="book-it"><i class="fa fa-angle-right"></i>Hủy bỏ</a> </div>
                    <div class="popup-btn" style="margin-right:30px"> <a href="#" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'" class="book-it"><i class="fa fa-angle-right"></i>Đồng ý</a> </div>
                </div>
                <div id="fade" class="black_overlay"></div>
            </div>
        </div>
    </div>
</section>


